{% extends "Accounts/base.html" %} {% block title %} PropertyDeals {%endblock %}
{% block content %} {% load static %}

<!-- landing page -->
<div class="landing-page-img single-page-h">
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-6 my-auto order-12 order-lg-0">
        <!-- search form -->
        <form class="white-custom-form">
          <div class="form-group">
            <label for="location">Search using 'town name', 'postcode'</label>
            <input
              type="text"
              class="form-control"
              id="location"
              placeholder="e.g. ‘York’, ‘LU3’ or ‘LU21HT’"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="min_price">Min Price</label>
              <input
                type="text"
                class="form-control"
                id="min_price"
                placeholder="£20,000"
              />
            </div>
            <div class="form-group col-sm-6">
              <label for="max_price">Max Price</label>
              <input
                type="text"
                class="form-control"
                id="max_price"
                placeholder="£250,000"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="property_type">Property Type</label>
              <select id="property_type" class="form-control">
                <option selected>Show All</option>
                <option>Buy To Let</option>
                <option>Lease Options</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label for="bedrooms">Bedrooms</label>
              <select id="bedrooms" class="form-control">
                <option selected>No Min</option>
                <option>1+</option>
                <option>2+</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn custom-btn">Start Search</button>
        </form>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h2>Find Top Porperty Deals</h2>
        <p>
          Dealsourcr puts the power of automation in your hands. Search, stack
          and market 200,000+ BMV deals (BTL, HMO and BRRR) with ROIs above 20%
          with the click of a button. Get an edge on the market with our
          efficient and easy-to-use tools.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-y-padding">
    <div class="col">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
        expedita dignissimos nam vitae qui autem, a ducimus consequuntur tenetur
        vel pariatur quod cumque aliquam inventore perferendis praesentium
        temporibus tempora sint? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Sed molestiae unde velit dolor error illum, quidem
        asperiores earum laboriosam perferendis laudantium dignissimos, dolores
        eaque quod esse. Dolor quisquam fuga molestias.
      </p>
    </div>
  </div>
</div>

<div class="bg-primary">
  <div class="container">
    <div class="row row-y-padding">
      <div class="col-lg-5 d-none d-lg-block">
        <img
          src="{% static 'Accounts/img/house-door.webp' %}"
          class="img-fluid"
          alt="Porperty Deals"
        />
      </div>
      <div class="col-lg-7">
        <h2>Access Unlimited Property Deals</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex
          inventore minus quas velit recusandae sit distinctio quo nulla,
          tempore pariatur nostrum quod, alias aliquam quia eaque mollitia error
          commodi.
        </p>
        <a href="#" class="btn custom-btn">Show Deals</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-y-padding">
    <div class="col-lg-7">
      <h2>Investment Property Calucaltors</h2>
      <p>
        Dealsourcr puts the power of automation in your hands. Search, stack and
        market 200,000+ BMV deals (BTL, HMO and BRRR) with ROIs above 20% with
        the click of a button.
      </p>
      <a href="#" class="btn custom-btn">Show Calcaulators</a>
    </div>
    <div class="col-lg-5 d-none d-lg-block">
      <img
        src="{% static 'Accounts/img/calculations.webp' %}"
        class="img-fluid"
        alt="Property Calcaulators"
      />
    </div>
  </div>
</div>

{% endblock %}
