
{% extends "Accounts/base.html" %}
{% block title %} PropertyDeals | Search {% endblock %}
{% block template_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Deals/css/style.css' %}" />
{% endblock template_style %}

{% block content %}
{% load form_tags %}




<!-- filter for large screen -->
<div class="container-fluid lg-top-filter-nav nav-shadow d-lg-block d-none">
    <form method="post" class="h-100">
        {% csrf_token %}
        <div class="row h-10">
            <div class="col-3 my-auto">{{ serch_form.location | addclass:"form-control" }}</div>
            <div class="col-2 my-auto">{{ serch_form.min_price | addclass:"form-control" }}</div>
            <div class="col-2 my-auto">{{ serch_form.max_price | addclass:"form-control" }}</div>
            <div class="col-2 my-auto w-50">{{ serch_form.min_bedroom | addclass:"form-control" }}</div>
            <div class="col-2 my-auto">{{ serch_form.max_bedroom | addclass:"form-control" }}</div>
            <!-- <div class="col my-auto">{{ serch_form.property_type }}</div> 
            <div class="col my-auto">{{ serch_form.Property_investment_type }}</div>-->
            <div class="col-1 my-auto"><button class="btn custom-btn m-0">Advance</button></div>
        </div>
    </form>
</div>


<div class="container">
    <div class="row row-y-padding">
        <div class="col">
            j
            </div>
        </div>
</div>


{% for property in properties %}
    <p>{{property.title}}</p>
{% endfor %}

{% endblock %} {% block javascript %} {{ block.super }}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script>
  $(function () {
    $("#id_location").autoComplete({ minLength: 1 });
  });
</script>
<script type="text/javascript" src="{% static 'Deals/js/properties_listing.js' %}"></script>
{% endblock %}