
{% extends "Accounts/base.html" %}
{% block title %} PropertyDeals | Search {% endblock %}
{% block template_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Deals/css/style.css' %}" />
{% endblock template_style %}

{% block content %} {% load crispy_forms_tags %}




<div class="g">sshhs</div>
<div class="container">
    <div class="row row-y-padding">
        <div class="col">
            j
            </div>
        </div>
</div>



<!-- <form method="post" class="white-custom-form">
    {% csrf_token %} {{ serch_form|crispy }}
    <button type="submit">submit</button>
</form> -->


{% for property in properties %}
    <p>{{property.title}}</p>
{% endfor %}

{% endblock %} {% block javascript %} {{ block.super }}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script>
  $(function () {
    $("#id_location").autoComplete({ minLength: 1 });
  });
</script>
{% endblock %}