{% load static %}
<div class="container-fluid bg-primary">
    <div class="row footer-row">
        <div class="col-12 col-sm-4">
            <img src="{% static 'Accounts/img/logo.png' %}" class="img-fluid" width="150" alt="Property Deals Logo">
        </div>
        <div class="col-12 col-sm-4 col-lg-2 mt-4 mt-sm-0">
            <ul class="list-unstyled">
                <p>Quick links</p>
                <li><a href="#">Property Calculators</a></li>
                <li><a href="#">All Property Deals</a></li>
                <li><a href="#">Deal Sourcers</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="col-3 d-none d-lg-block">
            <ul class="list-unstyled">
                <p>Property Investments</p>
                <li><a href="#">Buy To Let</a></li>
                <li><a href="#">Lease Options</a></li>
                <li><a href="#">Rent To Rent</a></li>
                <li><a href="#">BRRR</a></li>
                <li><a href="#">HMOs</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-4 col-lg-3">
            <p>Follow Us</p>
            <div class="d-flex mb-3">
                <a href="#"><i class="fab fa-facebook-square footer-icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter-square footer-icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-youtube-square footer-icon" aria-hidden="true"></i></a>
            </div>
            <p>©2021 PropertyDeals, All rights reserverd.</p>
        </div>
    </div>
</div>