{% extends "Accounts/base.html" %} 
{% block title %}Investor Signup{% endblock %} 
{% block content %}
{% load crispy_forms_tags %}

        <!-- investor signup page -->
    <div class="single-page-h bg-primary">
      <div class="container">
          <div class="text-center">
              <a href="{% url 'investor_signup' %}" class="btn bg-cyan rounded-0">Investor Account</a><a href="{% url 'deal_sourcer_signup' %}" class="btn bg-white rounded-0">Deal Sourcer Account</a>
          </div>
          <div class="row py-5 justify-content-lg-center">
              <div class="col-lg-4 col-md-6 my-auto order-12 order-md-0">
                  <!-- Investor Signup form -->
                  <form method="post" class="white-custom-form">
                    <h4 class="mb-4">Create an investor account</h4>
                      {% csrf_token %} {{ form|crispy }}
                      <button type="submit" class="btn custom-btn w-100">Create an account</button>
                      <p class="mt-4 text-center">Already have an account? <span><a href="#">Sign in</a></span></p>
                    </form>
              </div>
              <div class="col-lg-5 col-md-6 my-auto d-none d-md-block">
                  <h2 class="mb-3">With an investor account account, you can:</h2>
                  <p><i class="fa fa-home mr-2"></i>View unlimited properties</p>
                  <p><i class="fa fa-check mr-2"></i>Book unlimited viewings</p>
                  <p><i class="fa fa-comment mr-2"></i>Message to deals sourcers</p>
                  <p><i class="fa fa-reply mr-2 mb-2"></i>Comments on property deals</p>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}